body {
  margin: 0;
  padding: 0;
}
.parent-class {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}
.popup-container {
  position: relative;
  width: 859.21px;
  height: 384.71px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 1px solid #ccc;
}

.close-icon {
  position: absolute;
  right: -16px;
  top: -16px;
  cursor: pointer;
}

.headertext {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 28px 10px;
  text-align: center;
}

.text1 {
  font-family: Univers, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 19.92px;
}

.text2 {
  padding-top: 2%;
  font-family: Univers, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 19.92px;
}
.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input1 {
  position: relative;
  background-color:rgba(216, 216, 216, 0.5);
  font-size: 18px;
  font-family: Univers, sans-serif;
  width: 95%;
  height:75% ;
  border: 1px solid #ccc;
  padding-left: 1%;
}
.input1::placeholder {
  color: rgba(104, 104, 104, 1) !important;
}
.submitbutton {
  width: 247px;
  height: 56px;
  background-color: black !important;
  color: white;
  border: none;
  font-family: Univers, sans-serif;
  font-size: 18px;
  font-weight: 700;
  
}
.sub-parent-input{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 530px;
    height: 65px;
}
.error-message {
    position: absolute;
  font-family: "Univers", sans-serif;
  font-size: 14px;
  bottom: -4px;
  width: 95%;  
}
.input-sub{
    margin-top: 10px;
}


@media (max-width: 1280px) {
  .popup-container {
    width: 65%;
    height: 48%;
  }
  .error-message{
    bottom: -5px;
  }
  .input1 {
    font-size: 14px;
    
  }
  .sub-parent-input{
    width: 62%;
    height: 52px;
  }
  .submitbutton {
    width: 28%;
    height: 37px;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
    .error-message{
        font-size: 9px;
        bottom: 5px;
    }
  .popup-container {
    width: 53%;
    height: 56%;
  }
  .headertext {
    padding: 12px 10px;
  }
  .text1 {
    font-size: 12px;
  }
  .text2 {
    font-size: 11px;
    padding-top: 0%;
  }
  .input1 {
     font-size: 12px;
    height: 25px;
  }
  .sub-parent-input{
    width: 62%;
    height: 38px;
  }
  .submitbutton {
    width: 26%;
    font-size: 12px;
  }
  .close-icon img {
    width: 38px;
  }
  
}
@media (max-width: 926px) {
  .popup-container {
    width: 53%;
    height:14rem;
  }
  .headertext {
    padding: 15px 10px;
  }
  .text1 {
    font-size: 12px;
  }
  .text2 {
    font-size: 12px;
    padding-top: 0%;
  }
  .input1 {
    font-size: 12px;
    height: 24px;
  }
  .sub-parent-input{
    width: 62%;
    height: 44px;
  }
  .submitbutton {
    width: 26%;
    height: 27px;
    font-size: 12px;
  }
  .close-icon img {
    width: 38px;
  }
}
@media only screen and (min-width:700px) and (max-width:740px){
  .popup-container {
    width: 22rem;
    height: 12rem;
    margin-top: 40px;
    padding-bottom: 10px;
  }
  .text2{
    width: 22rem;
    font-size: 10px !important;
  }
  .submitbutton {
    width:5rem ;
    height: 22px;
    font-size: 12px;
    
    /* margin-top: 10px; */
  }
}
@media (max-width: 720px) {
  .popup-container {
    width: 55%;
    height: 50%;
    /* background-color: aqua; */
  }

  .error-message{
    font-size: 7px;
    bottom: -10px;
}
.headertext {
  padding: 5px 0px;
}
.text1 {
  font-size: 8px;
}
.text2 {
  font-size: 8px;
}
.input1 {
  font-size: 8px;

}
.sub-parent-input{
  width: 60%;
  height: 30px;
}
.submitbutton {
  width: 26%;
  height: 16px;
  font-size: 8px;
}
.close-icon{
  right: -5px;
  top: -10px;
}
.close-icon img {
  width: 20px;
}
}
@media only screen and(max-width: 625px) and (min-height: 243px) {
  .error-message{
    font-size: 7px;
    bottom: -4px;
}

  .popup-container {
    width: 46%;
    height: 65%;
    
  }

  .headertext {
    padding: 9px 10px;
  }
  .text1 {
    font-size: 8px;
  }
  .text2 {
    font-size: 8px;
  }
  .input1 {
    font-size: 8px;
 
  }
  .sub-parent-input{
    width: 60%;
    height: 30px;
  }
  .submitbutton {
    width: 26%;
    height: 16px;
    font-size: 8px;
  }
  .close-icon img {
    width: 17px;
  }

}

/* @media only screen and (min-width: 600px) and (max-width: 670px) {
.error-message{
    font-size: 7px;
    bottom: -4px;
}

  .popup-container {
    width: 46%;
    height: 43%;
  }

  .headertext {
    padding: 9px 10px;
  }
  .text1 {
    font-size: 8px;
  }
  .text2 {
    font-size: 8px;
  }
  .input1 {
    font-size: 8px;
 
  }
  .sub-parent-input{
    width: 60%;
    height: 30px;
  }
  .submitbutton {
    width: 26%;
    height: 16px;
    font-size: 8px;
  }
  .close-icon img {
    width: 17px;
  }

} */

@media only screen and (min-width: 645px) and (max-width: 655px) {
  .popup-container {
    width: 50%;
    height: 55%;
   
  }
  .headertext {
    padding: 9px 10px;
  }
  .text1 {
    font-size: 8px;
  }
  .text2 {
    font-size: 8px;
  }
  .input1 {
    font-size: 8px;
    height: 16px;
  }
  .sub-parent-input{
    width: 60%;
    height: 25px;
  }
  .submitbutton {
    width: 26%;
    height: 16px;
    font-size: 8px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 768px) {
  .headertext {
    padding: 12px 10px;
  }
  .text1 {
    font-size: 10px;
  }
  .text2 {
    font-size: 11px;
    padding-top: 0%;
  }
  .close-icon img {
    width: 20px;
  }
  .error-message{
    bottom: -1.5px;
  }
  .sub-parent-input{
    width: 60%;
    height: 40px;
  }
  
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) {
  .popup-container {
    width: 55%;
    height: 46%;
  }
  .headertext {
    padding: 20px 10px;
  }
  .text1 {
    font-size: 14px;
  }
  .text2 {
    font-size: 14px;
    padding-top: 1.5%;
  }
  .sub-parent-input{
    width: 62%;
    height: 50px;
  }
  .submitbutton {
    width: 26%;
    height: 38px;
    font-size: 14px;
  }
}

@media only screen and (min-width:320px) and (max-width:420px) {
    .popup-container{
      width:18rem;
      height: 12rem;
    }
    .error-message{
      bottom: -8px;
    }
  
}
